# SPDX-FileCopyrightText: 2026 Yocto QEMU EDU learning project contributors
# SPDX-License-Identifier: MIT

* text=auto

*.bb text eol=lf
*.bbappend text eol=lf
*.c text eol=lf
*.conf text eol=lf
*.json text eol=lf
*.patch text eol=lf whitespace=-blank-at-eol,-blank-at-eof
*.py text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf
VERSION text eol=lf
qemu-edu-lab text eol=lf
meta-qemu-edu/recipes-support/qemu-edu-tools/files/qemu-edu-test text eol=lf
meta-qemu-edu/recipes-support/qemu-edu-platform-tools/files/qemu-edu-platform-test text eol=lf
